<div>
  <h1>SISTEMA ACTIVO - Productos</h1>
  {{#each products}}
    <div>
      <h2>{{this.title}}</h2>
      <p>Descripción: {{this.description}}</p>
      <p>Código: {{this.code}}</p>
      <p>Precio: ${{this.price}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Categoría: {{this.category}}</p>
      <p>Estado: {{this.status}}</p>
      <p>Fotos: {{this.fotos}}</p>
      <p>ID: {{this.id}}</p>
    </div>
  {{/each}}
</div>