<!-- Layout principal -->
<h1>{{title}}</h1>
  <!-- Enlace "Ir al Carrito" -->
    <a href="/cart/656f481e78783e042315413e">Ir al Carrito</a>
<!-- Listado de productos -->
{{#each products}}
<div>
  <h2>{{this.title}}</h2>
  <p>Descripción: {{this.description}}</p>
  <p>Precio: ${{this.price}}</p>
  {{#if this.category}}
    <p>Categoría: {{this.category.name}}</p>
  {{/if}}
  <img src="{{this.image}}" alt="{{this.title}} Image width="200" height="200"">
  <p>Código: {{this.code}}</p>
  <p>Stock: {{this.stock}}</p>
  
  <!-- Botón "Agregar al Carrito" -->
  <form action="/cart/656f481e78783e042315413e/product/{{this._id}}" method="POST">
    <button type="submit">Agregar al Carrito</button>
  </form>
</div>
{{/each}}

<!-- Paginación -->
<nav aria-label="Paginacion">
  <ul class="pagination">
    {{#if hasPrevPage}}
      <li class="page-item">
        <a class="page-link" href="/products-views?limit={{limit}}&page={{prevPage}}&sort={{sort}}&category={{category}}">Ant</a>
      </li>
    {{/if}}
    
    {{#each pages}}
      <li class="page-item">
        <a class="page-link" href="/products-views?limit={{limit}}&page={{this}}&sort={{sort}}&category={{category}}">{{this}}</a>
      </li>
    {{/each}}
    
    {{#if hasNextPage}}
      <li class="page-item">
        <a class="page-link" href="/products-views?limit={{limit}}&page={{nextPage}}&sort={{sort}}&category={{category}}">Sig</a>
      </li>
    {{/if}}
  </ul>
</nav>



